// ============================
// @@ Globals
// ============================

body
  &.body-anonymous
    background: url("../images/people_001.jpg") no-repeat
    background-size: cover

h1
  font-size: 2em

a
  color: white
  text-decoration: none
  &:hover
    color: white
    text-decoration: underline

// Helper classes

.margintop-25
  +margin-top(25px)

.margintop-45
  +margin-top(45px)