// =============================
// @@ Main page
// =============================
.post-content
  img
    margin-top: 15px
  .post-content__info
    font-size: 0.75em
    color: $navbar-default-bg
    .info-username
      font-weight: bold
.anonymous-content
  p
    font-size: 1.5em

.margintop-main_content
  +margin-top(70px)