

/* Coolors Exported Palette - coolors.co/072134-374a67-386fa4-456990-ee4266 */

/* RGB */
$navbar-default-bg: rgba(7, 33, 52, 1);
$body-bg: rgba(55, 74, 103, 1); //#374a67
$color3: rgba(56, 111, 164, 1);
$color4: rgba(69, 105, 144, 1);
$color5: rgba(238, 66, 102, 1);

// Panels
$panel-default-heading-bg: $color4;



// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #d8dbdf;


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);



$secondary-color: #3a4352;


// scaffolding variables override
$hr-border: #3a4352;